<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script> -->
    <script type="text/javascript" src="refs/angular.js"></script>
    <!-- <script type="text/javascript" src="dist/ngBracket.min.js"></script> -->
    <script type="text/javascript" src="src/services.js"></script>
    <script type="text/javascript" src="src/bracket.js"></script>
    <script type="text/javascript" src="src/tournamentGenerator.js"></script>
    <script type="text/javascript" src="demo/demoApp.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/bracket.css" />
    <link rel="stylesheet" type="text/css" href="demo/demo.css" />
</head>

<body ng-app="demoApp" ng-controller="bracketController">

    <br/>
    <span>Type:</span>
    <select ng-init="tType='SE'" ng-model="tType">
        <option value="SE">Single Elimination</option>
        <option value="DE">Double Elimination</option>
    </select>
    <input type="checkbox" ng-init="playBronzeMatch=true" ng-model="playBronzeMatch">Play bronze match</input>
    <button ng-click="loadTournament('SE')">Load SE sample</button>
    <button ng-click="loadTournament('DE')">Load DE sample</button>
    <br/>
    <br/>
    <fieldset>
        <legend>Create new</legend>
        <span>Flag is optional. Supported choices for the demo: aut, can, chi, cze, den, est, fin, fra, ger, rus, sui, swe, uk, usa</span>
        <br/>
        <span>Add teams:</span>
        <br/>
        <span>Name:</span>
        <input type="text" ng-model="newPlayerName" />
        <span>Flag:</span>
        <input type="text" ng-model="newPlayerFlag" />
        <button ng-click="addPlayer()">Add</button>
        <button ng-click="newTournament()" ng-disabled="participants.length < 3">Start</button>
        <br/>
        <span>Load players from JSON:</span>
        <input type="text" ng-model="teamsJson" />
        <button ng-click="loadTeams()">Load</button>
        <br/>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Create new with empty teams</legend>
        <span>Number of teams / Conference 1:</span>
        <input type="text" ng-model="playersToGenerate" />
        <button ng-click="generateWithRandomPlayers()">Generate</button><<br>
        <span>Number of teams / Conference 2:</span>
        <input type="text" ng-model="playersToGenerate2" />
        <span>(Optional)</span>
    </fieldset>
    <br/>
    <span>Team editing:</span>
    <ul>
        <li>Works while team status is "Not started". That is untill first match is played.</li>
        <li>DoubleClick on team to edit the name.</li>
        <li>Right-click on the team to select different team</li>
    </ul>
    <br/>
    <button ng-click="shuffleTeams()">Shuffle</button>
    <input type="checkbox" ng-change="setEnableDetails()" ng-init="enableDetails=false" ng-model="enableDetails">Show match details (tick and click a match)</input>
    <br/>

    <!-- Bracket control -->
    <ngbracket bracket-data="bracketData"></ngbracket>


    <!-- Match details dialog -->
    <div id="detailOverlay" ng-cloak ng-model="matchToShow">
        <div class="detailHeader">
            <div class="flag" style="background-image:url(demo/images/{{matchToShow.team1.flag}})"></div>
            <div class="scoreWrapper">
                <div class="teamName">{{matchToShow.team1.name}}</div>
                <div class="resultScore"><b>{{matchToShow.results.team1.score + " - " + matchToShow.results.team2.score }}</b>
                </div>
                <div class="teamName" style="text-align:right">{{matchToShow.team2.name}}</div>
                <div class="bottomDivider" style="width:100%;float:left"></div>
            </div>
            <div class="flag" style="background-image:url(demo/images/{{matchToShow.team2.flag}})"></div>
        </div>
        <div class="teamDetail" id="team1">
            <div class="teamMembers" ng-repeat="p in matchToShow.team1.members">
                <span>{{p}}</span>
                <br/>
            </div>
        </div>
        <div class="teamDetail" id="team2">
            <div class="teamMembers" ng-repeat="p in matchToShow.team2.members">
                <span>{{p}}</span>
                <br/>
            </div>
        </div>
        <div class="detailFooter">
            <div style="height:40px">Screenshots:
                <br/>
            </div>
            <div style="height:40px">Videos:
                <br/>
            </div>
        </div>
    </div>

    <!-- Team selection dialog -->
    <div id="selectTeamOverlay" ng-cloak>
        <div class="wrap">
            <div id="teamSearch">
                <div class="column">Search:</div>
                <input type="text" ng-model="search">
            </div>
            <div class="headers">
                <div class="id column">#</div>
                <div class="flag column"></div>
                <div class="name column">Team</div>
            </div>

            <div ng-repeat="t in bracketData.teams | filter:search">
                <div class="selectable" ng-click="selectTeam(t)">
                    <div class="id column">{{t.id}}</div>
                    <div class="flag column" style="background-image:url(demo/images/{{t.flag}})"></div>
                    <div class="name column">{{t.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div style="float:left">
        <span>
            <h2>Debug</h2>
        </span>
        <span>
            <h3>tournament:</h3>
            {{ bracketData.tournament }}
        </span>
        <span>
            <h3>teams:</h3>
            {{ bracketData.teams }}
        </span>
    </div>

</body>

</html>
