/* Match details overlay styles */
div#detailOverlay{visibility:hidden;z-index:19;margin-left:10px;width:440px;height:250px;line-height:16px;display:inline;position:absolute;color:#111;
border: 2px solid #98abdd;; background:#ECECFF;box-shadow: 10px 10px 5px #888888;}
div#detailOverlay:after, div#detailOverlay:before { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
div#detailOverlay:after { border-color: rgba(222, 222, 255, 0); border-right-color: #ECECFF; border-width: 10px; margin-top: -10px; }
div#detailOverlay:before { border-color: rgba(152, 171, 221, 0); border-right-color: #98abdd; border-width: 13px; margin-top: -13px; }
div#detailOverlay .teamDetail{float:left;width:50%;text-align:center;}
div#detailOverlay .scoreWrapper{float:left;width:300px;display:table;max-height:50px}
div#detailOverlay .resultScore{float:left;width:60px;margin-left:auto;margin-right:auto;text-align:center;font-size:24px}
div#detailOverlay .flag {float:left;background:no-repeat;height:50px;width:50px;background-size:cover;margin-right:10px;margin-left:10px;margin-top:5px;}
div#detailOverlay .teamName{margin-left:10px;margin-right:10px;vertical-align:middle;float:left;text-align:left;width:100px;font-size:22px;text-transform:capitalize;font-variant:small-caps;overflow:hidden}
.scoreWrapper:before, .bottomDivider:after {height: 2px;content:"";
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(147,147,147,1) 50%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(147,147,147,1)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000',GradientType=1);
display:block;margin-bottom:10px;margin-top:10px;}
.detailFooter{position:absolute;bottom:0px;width:100%;text-align:center;font-variant:small-caps;}

/* Team select dialog */
div#selectTeamOverlay {visibility:hidden;z-index:10000;position:absolute;margin-left:10px;background:#ECECFF;border:2px solid #98abdd;box-shadow:4px 4px 20px #000;}
div#selectTeamOverlay .wrap{overflow-y:scroll;min-height:200px;max-height:200px;margin:5px;}
div#selectTeamOverlay .column{display:inline-block;}
div#selectTeamOverlay .id{width:20px;}
div#selectTeamOverlay .flag{width:30px;height:25px;}
div#selectTeamOverlay .name{width:150px;margin-left:5px;}
div#selectTeamOverlay .selectable{height:30px;}
div#selectTeamOverlay .selectable:hover{background-color:#408080;cursor:pointer;cursor:hand;}
div#selectTeamOverlay:after, div#selectTeamOverlay:before { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
div#selectTeamOverlay:after { border-color: rgba(222, 222, 255, 0); border-right-color: #ECECFF; border-width: 10px; margin-top: -10px; }
div#selectTeamOverlay:before { border-color: rgba(152, 171, 221, 0); border-right-color: #98abdd; border-width: 13px; margin-top: -13px; }