div.ngBracket {
  font-family: Calibri;
  font-size: 18px;
  position: relative;
  float: left;
  margin-top: 20px;
  /* header's max-height is required */
  /* Note! min-width and min-height are required */
  /* Connector styles */ }
  div.ngBracket #bracketRoot {
    clear: right; }
  div.ngBracket .round {
    position: relative;
    width: 240px;
    height: 100%;
    float: left; }
  div.ngBracket .roundTitle {
    display: table;
    margin: 0 auto; }
  div.ngBracket .roundHeader {
    margin-bottom: 20px;
    min-height: 20px;
    max-height: 20px; }
  div.ngBracket .match {
    position: absolute;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-width: 2px;
    border-style: solid;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden; }
  div.ngBracket .tbd {
    border-color: #ddd;
    background-color: #f1f1f1; }
  div.ngBracket .team {
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    cursor: pointer;
    cursor: hand; }
  div.ngBracket .empty {
    background-color: #eee;
    cursor: default;
    font-size: 14px; }
  div.ngBracket .loser {
    background-color: #d3d3d3;
    color: #b2b2b2; }
    div.ngBracket .loser .score {
      color: #B22222; }
  div.ngBracket .teamname {
    display: inline-block;
    padding-left: 5px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    min-width: 115px;
    max-width: 115px;
    min-height: 25px; }
  div.ngBracket .teamInput {
    width: 115px;
    height: 15px;
    line-height: 15px; }
  div.ngBracket input.score {
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    width: 25px;
    height: 20px;
    margin: 0px;
    padding: 0px; }
  div.ngBracket .highlight {
    background-color: #eea; }
  div.ngBracket .matchWrapper .separator {
    border-bottom: 1px solid #aaa;
    z-index: 5; }
  div.ngBracket .score {
    display: inline-block;
    float: right;
    font-weight: bold;
    background-color: #efefef;
    text-align: center;
    width: 30px;
    height: 25px;
    vertical-align: middle; }
  div.ngBracket span .score {
    vertical-align: middle;
    font-size: 20px;
    line-height: 24px; }
  div.ngBracket input[type='number'] {
    -moz-appearance: textfield; }
  div.ngBracket input[type=number]::-webkit-inner-spin-button, div.ngBracket input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  div.ngBracket .hidden {
    display: none; }
  div.ngBracket .flagContainer {
    float: left;
    width: 35px;
    height: 25px; }
  div.ngBracket .empty .flagContainer {
    width: 5px; }
  div.ngBracket .flag {
    background: no-repeat;
    height: 35px;
    margin-left: -3px;
    margin-top: -6px;
    background-size: cover;
    text-indent: -9999px;
    z-index: 20; }
  div.ngBracket .connector {
    position: absolute; }
  div.ngBracket .connectors {
    border-color: #000;
    z-index: 1; }
    div.ngBracket .connectors .tbdB {
      border-color: #f1f1f1;
      z-index: -1;
      position: absolute; }
    div.ngBracket .connectors .highlight {
      border-color: #0f0;
      background-color: transparent;
      z-index: 2; }
  div.ngBracket .connectorBottom {
    border-bottom: 2px solid; }
  div.ngBracket .connectorLeft {
    border-left: 2px solid; }
  div.ngBracket .connectorTop {
    border-top: 2px solid; }

/*# sourceMappingURL=bracket.css.map */
