$fonts:Calibri;
 $matchWidth:200px;
 $matchHeight:50px;
 $roundMargin:40px;
 $flagWidth:35px;
 $scoreWidth:30px;
 $teamNameWidth:($matchWidth - $flagWidth - $scoreWidth - 20px);
 $teamHeight:$matchHeight / 2;
 $roundHeaderHeight:20px;
 div.ngBracket {
	font-family: $fonts;
	font-size: 18px;
	position: relative;
	float: left;
	margin-top: 20px;
	#bracketRoot {
		clear: right;
	}
	.round {
		position: relative;
		width: $matchWidth + $roundMargin;
		height: 100%;
		float: left;
	}
	.roundTitle {
		display: table;
		margin: 0 auto;
	}
	/* header's max-height is required */
	.roundHeader {
		margin-bottom: 20px;
		min-height: $roundHeaderHeight;
		max-height: $roundHeaderHeight;
	}
	/* Note! min-width and min-height are required */
	.match {
		position: absolute;
		width: $matchWidth;
		min-width: $matchWidth;
		max-width: $matchWidth;
		margin-bottom: 20px;
		margin-right: 40px;
		border-width: 2px;
		border-style: solid;
		min-height: $matchHeight;
		max-height: $matchHeight;
		overflow: hidden;
	}
	.tbd {
		border-color: #ddd;
		background-color: #f1f1f1;
	}
	.team {
		height: $teamHeight;
		min-height: $teamHeight;
		max-height: $teamHeight;
		cursor: pointer;
		cursor: hand;
	}
	.empty {
		background-color: #eee;
		cursor: default;
		font-size: 14px;
	}
	.loser {
		background-color: #d3d3d3;
		color: #b2b2b2;
		.score {
			color: #B22222;
		}
	}
	.teamname {
		display: inline-block;
		padding-left: 5px;
		text-overflow: clip;
		white-space: nowrap;
		overflow: hidden;
		min-width: $teamNameWidth;
		max-width: $teamNameWidth;
		min-height: $teamHeight;
	}
	.teamInput {
		width: $teamNameWidth;
		height: $teamHeight - 10px;
		line-height: $teamHeight - 10px;
	}
	input.score {
		font-weight: bold;
		text-align: center;
		line-height: $teamHeight - 5px;
		font-size: 16px;
		width: $scoreWidth - 5px;
		height: $teamHeight - 5px;
		margin: 0px;
		padding: 0px;
	}
	.highlight {
		background-color: #eea;
	}
	.matchWrapper .separator {
		border-bottom: 1px solid #aaa;
		z-index: 5;
	}
	.score {
		display: inline-block;
		float: right;
		font-weight: bold;
		background-color: #efefef;
		text-align: center;
		width: $scoreWidth;
		height: $teamHeight;
		vertical-align: middle;
	}
	span {
		.score {
			vertical-align: middle;
			font-size: 20px;
			line-height: 24px;
		}
	}
	input[type='number'] {
		-moz-appearance: textfield
	}
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.hidden {
		display: none;
	}
	.flagContainer {
		float: left;
		width: $flagWidth;
		height: $teamHeight;
	}
	.empty .flagContainer {
		width: 5px
	}
	.flag {
		background: no-repeat;
		height: 35px;
		margin-left: -3px;
		margin-top: -6px;
		background-size: cover;
		text-indent: -9999px;
		z-index: 20;
	}
	/* Connector styles */
	.connector {
		position: absolute;
	}
	.connectors {
		border-color: #000;
		z-index: 1;
		.tbdB {
			border-color: #f1f1f1;
			z-index: -1;
			position: absolute;
		}
		.highlight {
			border-color: #0f0;
			background-color: transparent;
			z-index: 2;
		}
	}
	.connectorBottom {
		border-bottom: 2px solid;
	}
	.connectorLeft {
		border-left: 2px solid;
	}
	.connectorTop {
		border-top: 2px solid;
	}
}
